 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 725px;
}

.u-section-1 .u-text-1 {
  font-family: press-start-2p-2;
  font-size: 1.875rem;
  margin: 20px 352px 0 328px;
}

.u-section-1 .u-group-1 {
  width: 535px;
  min-height: 535px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 40px;
  margin: 36px auto 0 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/image.png");
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 535px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 40px;
  width: 535px;
  margin: -535px auto 0 605px;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/image1.png");
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-family: FontOver;
  text-decoration: underline !important;
  margin: 21px 0 0 632px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-family: FontOver;
  text-decoration: underline !important;
  margin: -50px 712px 0 107px;
}

.u-section-1 .u-btn-1 {
  --radius: 10px;
  font-family: press-start-2p-2;
  background-image: none;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 37px auto 60px 449px;
  padding: 11px 28px 11px 27px;
}

.u-section-1 .u-text-4 {
  font-family: press-start-2p-2;
  font-size: 1rem;
  width: auto;
  font-weight: 200;
  margin: -247px 18px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1397px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 252px;
    margin-left: 228px;
  }

  .u-section-1 .u-group-1 {
    width: 415px;
    min-height: 415px;
    margin-top: 59px;
    margin-left: 31px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-group-2 {
    min-height: 415px;
    width: 415px;
    margin-top: -415px;
    margin-right: 31px;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 38px;
    margin-right: 46px;
    margin-left: 508px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -40px;
    margin-right: 570px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 70px;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 142px;
    margin-left: 118px;
  }

  .u-section-1 .u-group-1 {
    width: 329px;
    min-height: 329px;
  }

  .u-section-1 .u-group-2 {
    min-height: 329px;
    width: 329px;
    margin-top: -326px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 400px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    margin-top: -34px;
    margin-right: 447px;
    margin-left: 56px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 23px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 62px;
    margin-right: -75px;
    margin-left: 111px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 52px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 220px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-right: 323px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -247px;
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 21px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: -309px;
    margin-right: -379px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 3px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 211px;
    margin-right: 81px;
    margin-left: 42px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px 8px 12px 6px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
    margin-top: -279px;
    margin-right: -657px;
    margin-left: 693px;
  }
}@font-face {
  font-family: 'press-start-2p-2';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/press-start-2p-2.ttf);
}@font-face {
  font-family: 'FontOver';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontOver.otf);
}